common --verbose_failures
common --nolegacy_important_outputs
common --enable_platform_specific_config
common --test_output=errors

build --noexperimental_check_external_repository_files
fetch --noexperimental_check_external_repository_files
query --noexperimental_check_external_repository_files

build --experimental_allow_tags_propagation
fetch --experimental_allow_tags_propagation
query --experimental_allow_tags_propagation

build --reuse_sandbox_directories
build --nolegacy_external_runfiles
build --sandbox_default_allow_network=false
build --incompatible_strict_action_env
build --dynamic_mode=off
build --features=layering_check

build --cxxopt=-fno-rtti --host_cxxopt=-fno-rtti
build --cxxopt=-fno-exceptions --host_cxxopt=-fno-exceptions
build --linkopt=-fuse-ld=lld --host_linkopt=-fuse-ld=lld
build --copt=-fno-omit-frame-pointer --host_copt=-fno-omit-frame-pointer

try-import %workspace%/user.bazelrc